.header__logo {
    max-width: 142px;
    padding-bottom: 40px;
}


@media screen and (max-width:  582px) {
    .header__logo {
        max-width: 103.74px;
        padding-top: 28px;
        padding-left: 27px;
        padding-right: 189.26px;
        padding-bottom: 31.6px;
    }
}